:root {
    --blue: #418CE5;
    --lightblue: #63a3f1;
}

body {
    background-color: rgb(21, 21, 21);
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
}

#content {
    /* Grid Stuff */
    display: grid;
    grid-template-rows: 100px 1fr 50px;
    grid-template-columns: 150px 1fr;
    grid-template-areas: 
    "header header"
    "side-bar main"
    "footer footer";
    height: 100vh;
}

/* Header */

#header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Main -------------------------------- */

#main {
    grid-area: main;
    margin-left: 1rem;
}

#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    font-size: 2rem;
    color: var(--blue);
    font-weight: bold;
}

#main-header button {
    background-color: var(--blue);
    border: none;
    border-radius: 1rem;
    padding: 0 .75rem;
    font-size: 2rem;
}

#main-header button:hover {
    background-color: var(--lightblue);
}


/* MAIN BODY */

#main-body {
    display: grid;
    grid-template-rows: repeat(5,50px);
    align-items: center;
    width: 80%;
}

#main-body div{
    border-bottom: solid thin;
}




#side-bar {
    grid-area: side-bar;
    background-color: rgb(82, 82, 82);
}



#footer {
    grid-area: footer;
}